@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif; /* Primary font */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif; /* Headings font */
}

p, span, a {
  font-family: 'Space Mono', monospace; /* Monospace font for specific text */
}


/* You can define additional styles as needed */